# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
lib/service/intro_service.dart
lib/service/main_service.dart
lib/core_service/router/app_router_safe.dart
lib/core_service/router/app_router.dart
lib/core_service/router/app_router.dart
lib/core_service/router/app_router.dart
test/lib/model/ifsai.dart
test/lib/main.dart
test/lib/model/cart.dart
test/lib/model/location.dart
test/lib/coreService/widget/banner.dart
test/lib/model/market.dart
test/lib/Page/2_login_page/2_login.dart
test/lib/coreService/theme.dart
test/lib/coreService/core/di/injector.dart
test/lib/coreService/routes.dart
lib/page/tech_blog_post_detail_page/tech_blog_post_detail_desktop/widget/tech_detail_post_slug.dart
test/lib/coreService/core/dio/dio_core.dart
test/lib/model/affiliated_store.dart
test/lib/coreService/provider.dart
test/lib/Page/2_login_page/login_dio/login_dio.dart
test/lib/coreService/Shimmer_loading/loding_gif_IFSAI.dart
test/lib/coreService/isar/app_version/data/version.dart
test/lib/Page/14_affiliated_store/dio/affiliated_dio.dart
test/lib/Page/10_my_page/10.6_my_wishlist.dart
test/lib/coreService/widget/searchbar.dart
test/lib/model/ifsai.freezed.dart
test/lib/coreService/Dialog/login_dialog.dart
test/lib/Page/2_login_page/snsLogin/apple_login.dart
test/lib/Page/2_login_page/snsLogin/kakao_login.dart
test/lib/Page/2_login_page/snsLogin/naver_login.dart
test/lib/coreService/bloc/page_navigation/page_bloc.dart
test/lib/Page/10_my_page/10_my_page.dart
test/lib/model/menus_option.dart
test/lib/coreService/isar/app_version/data/version.g.dart
test/lib/Page/1_start_page/page/start_page.dart
test/lib/Page/2_login_page/snsLogin/google_login.dart
test/lib/model/cart.freezed.dart
test/lib/Page/1_start_page/page/start_cubit.dart
test/lib/Page/12_naver_map/page/bottom_sheet/widget/long_panel.dart
test/lib/model/location.freezed.dart
test/lib/Page/1_start_page/page/start_state.dart
test/lib/Page/4_main_page/4.11_join_us.dart
test/lib/coreService/core/utils/verifty_form.dart
test/lib/coreService/core/di/injector.config.dart
test/lib/Page/10_my_page/my_page_dio/my_page_dio.dart
test/lib/Page/12_naver_map/page/bottom_sheet/bottom_panel.dart
test/lib/Page/2_login_page/2.1_login_error.dart
test/lib/Page/4_main_page/4_main_screen.dart
test/lib/Page/4_main_page/4.0_main_page.dart
test/lib/Page/12_naver_map/dio/naver_map_dio.dart
test/lib/Page/8_detail_store/detail_store_dio/detail_dio.dart
test/lib/model/market.freezed.dart
test/lib/Page/12_naver_map/page/widget/top_category.dart
test/lib/coreService/Dialog/myCart_dialog.dart
test/lib/coreService/widget/custom_appbar.dart
test/lib/coreService/bloc/page_navigation/page_event.dart
test/lib/coreService/bloc/page_navigation/page_state.dart
test/lib/Page/12_naver_map/page/widget/market_widget.dart
test/lib/Page/4_main_page/4.4_main_top12.dart
test/lib/Page/12_naver_map/page/bottom_sheet/widget/short_panel.dart
test/lib/coreService/core/service/location_service.dart
test/lib/Page/4_main_page/components/main_Add_banner.dart
test/lib/coreService/core/utils/image_url_helper.dart
test/lib/Page/5_search_page/5.2_search_logic.dart
test/lib/Page/10_my_page/10.5_my_coupon.dart
test/lib/model/affiliated_store.freezed.dart
test/lib/Page/10_my_page/10.7_my_page_orderlist.dart
test/lib/Page/8_detail_store/8_detail_store.dart
test/lib/Page/4_main_page/4.2_main_adBanner.dart
test/lib/coreService/Shimmer_loading/main_shimmer.dart
test/lib/Page/4_main_page/4.10_main_quest.dart
test/lib/coreService/isar/isar_init_service.dart
test/lib/coreService/core/utils/responsive_size.dart
test/lib/Page/4_main_page/components/main_container.dart
test/lib/coreService/widget/bottom_navigation.dart
test/lib/coreService/widget/store_container.dart
test/lib/Page/4_main_page/main_dio/main_screen_dio.dart
test/lib/coreService/isar/naver_map/data/naver_map_data.dart
test/lib/Page/12_naver_map/page/widget/naver_map_widget.dart
test/lib/Page/12_naver_map/page/NaverMapApp_page.dart
test/lib/Page/4_main_page/4.3_main_category.dart
test/lib/Page/4_main_page/main_detail_page/4_detail_quest.dart
test/lib/Page/12_naver_map/page/NaverMapApp_cubit.dart
test/lib/coreService/kakao_api_service.dart
test/lib/Page/4_main_page/4.6_main_best_review.dart
test/lib/repository/start_api/start_remote_local.dart
test/lib/Page/12_naver_map/page/NaverMapApp_state.dart
test/lib/Page/4_main_page/4.5_main_new_store.dart
test/lib/coreService/isar/naver_map/data/naver_map_data.g.dart
test/lib/coreService/widget/mypage_filter_button.dart
test/lib/Page/12_naver_map/service/naver_map_overlay.dart
test/lib/Page/12_naver_map/service/naver_map_service.dart
test/lib/coreService/Sharedpreferences.dart
test/lib/Page/4_main_page/main_detail_page/2_detail_top_12.dart
test/lib/Page/8_detail_store/menu_option/widget/bottomSheet_title.dart
test/lib/coreService/widget/paginationIndicator.dart
test/lib/coreService/isar/naver_map/data/naver_map_version.dart
test/lib/Page/5_search_page/5.1.1_searcscreen.dart
test/lib/Page/14_affiliated_store/pages/affiliated_page/affiliated_store_page.dart
test/lib/model/menus_option.freezed.dart
test/lib/Page/4_main_page/main_detail_page/0_detail_join_us.dart
test/lib/Page/10_my_page/10.3_my_page_event.dart
test/lib/coreService/core/dio/dio_interceptor_cache.dart
test/lib/Page/3_student_email_page/3.3_error_dialog.dart
test/lib/Page/14_affiliated_store/pages/affiliated_page/affiliated_store_cubit.dart
test/lib/Page/12_naver_map/page/widget/current_location_button.dart
test/lib/Page/10_my_page/10.1_my_page_notice.dart
test/lib/Page/10_my_page/10.9_my_page_review.dart
test/lib/Page/8_detail_store/8.6_detail_coupons.dart
test/lib/Page/5_search_page/search_dio/search_screen_dio.dart
test/lib/Page/10_my_page/10.9.1_my_page_review_write_list.dart
test/lib/Page/14_affiliated_store/pages/affiliated_page/affiliated_store_state.dart
test/lib/coreService/core/permission/permission_handler.dart
test/lib/repository/cart_api/cart_reomte_source.dart
test/lib/Page/3_student_email_page/3.1_student_email.dart
test/lib/Page/10_my_page/10.14_my_page_myinfo.dart
test/lib/Page/4_main_page/components/main_title_overview.dart
test/lib/Page/15_invite_page/15.2_invite_container.dart
test/lib/coreService/widget/store_components/store_info_summary.dart
test/lib/Page/1_start_page/page/start_state.freezed.dart
test/lib/coreService/isar/naver_map/data/naver_map_category.dart
test/lib/repository/cart_api/cart_reomte_service.dart
test/lib/coreService/widget/ifsai_button_components/wide_green_button.dart
test/lib/Page/9_store_review/store_review_dio/store_review_dio.dart
test/lib/repository/naver_map_api/nver_map_response.dart
test/lib/coreService/isar/naver_map/data/naver_map_version.g.dart
test/lib/Page/4_main_page/4.1_main_logo_searchbar.dart
test/lib/Page/10_my_page/10.8_my_page_orderlist_detail.dart
test/lib/Page/3_student_email_page/3.4_success_dialog.dart
test/lib/coreService/isar/app_version/app_version_service.dart
test/lib/Page/10_my_page/10.15_my_page_setting.dart
test/lib/repository/start_api/start_reomte_source.dart
test/lib/Page/14_affiliated_store/pages/affiliated_page/widgets/store_container.dart
test/lib/Page/4_main_page/main_detail_page/1_detail_new_store.dart
test/lib/Page/4_main_page/main_detail_page/5_detail_all_quest.dart
test/lib/coreService/Dialog/locationPermissionDialog.dart
test/lib/Page/1_start_page/service/start_reomte_service.dart
test/lib/Page/8_detail_store/menu_option/bottomSheet_menu_page.dart
test/lib/repository/cart_api/cart_reomte_response.dart
test/lib/Page/15_invite_page/15.1_invite_detail_page.dart
test/lib/Page/11_shopping_cart/pages/shopping_page/shopping_cart_page.dart
test/lib/Page/4_main_page/4.7_main_hot_promotion.dart
test/lib/coreService/isar/naver_map/data/naver_map_category.g.dart
test/lib/Page/8_detail_store/8.1_detail_store_title.dart
test/lib/Page/11_shopping_cart/pages/shopping_page/shopping_cart_cubit.dart
test/lib/repository/naver_map_api/nver_map_response.g.dart
test/lib/coreService/core/utils/scroll_controller_mixin.dart
test/lib/repository/naver_map_api/naver_map_local_source.dart
test/lib/Page/8_detail_store/menu_option/bottomSheet_menu_cubit.dart
test/lib/Page/8_detail_store/menu_option/bottomSheet_menu_state.dart
test/lib/Page/8_detail_store/8.3_detail_store_event.dart
test/lib/Page/11_shopping_cart/pages/shopping_page/shopping_cart_state.dart
test/lib/coreService/Dialog/my_page_orderlist_delete_dialog.dart
test/lib/Page/4_main_page/4.10.1_main_quest_guest.dart
test/lib/repository/cart_api/cart_remote_repository.dart
test/lib/repository/start_api/start_remote_response.dart
test/lib/Page/8_detail_store/8.2_detail_store_notice.dart
test/lib/coreService/isar/naver_map/naver_map_data_service.dart
test/lib/Page/6_search_results_page/search_result_dio/search_screen_dio.dart
test/lib/Page/13_join_us/13.1_join_us_detail_page.dart
test/lib/coreService/widget/store_components/store_menu_category.dart
test/lib/Page/12_naver_map/page/widget/search_category_section.dart
test/lib/repository/cart_api/cart_reomte_response.g.dart
test/lib/coreService/widget/store_components/store_rating_summary.dart
test/lib/Page/5_search_page/5.2.1_search_logic_history.dart
test/lib/Page/3_student_email_page/3.5_email_error_dialog.dart
test/lib/Page/4_main_page/components/main_SmoothPageIndicator.dart
test/lib/repository/start_api/start_remote_repository.dart
test/lib/Page/13_join_us/13.2_join_us_request_page.dart
test/lib/coreService/Dialog/my_page_event_end_dialog.dart
test/lib/repository/affiliated_store_api/affiliated_store_remote_source.dart
test/lib/Page/11_shopping_cart/core/shopping_cart_dio/my_shopping_cart_dio.dart
test/lib/Page/5_search_page/5.2.2_search_logic_keywords.dart
test/lib/Page/5_search_page/5.2.3_search_logic_category.dart
test/lib/Page/5_search_page/5.2.4_search_logic_trending.dart
test/lib/Page/10_my_page/10.4_my_page_event_detail.dart
test/lib/Page/9_store_review/9.2_store_review_summary.dart
test/lib/Page/9_store_review/9.5_store_review_content.dart
test/lib/repository/start_api/start_remote_response.g.dart
test/lib/Page/10_my_page/10.9.2_my_page_review_already_write_list.dart
test/lib/Page/3_student_email_page/3_student_identity_detail.dart
test/lib/Page/11_shopping_cart/pages/shopping_page/widget/recommended_side_menu.dart
test/lib/repository/affiliated_store_api/affiliated_store_remote_service.dart
test/lib/Page/11_shopping_cart/pages/shopping_option_page/shopping_option_page.dart
test/lib/Page/3_student_email_page/3.2_student_email_check.dart
test/lib/Page/10_my_page/10.2_my_page_notice_detail.dart
test/lib/Page/10_my_page/10.12_my_page_review_fix_back.dart
test/lib/Page/12_naver_map/page/NaverMapApp_state.freezed.dart
test/lib/Page/11_shopping_cart/pages/shopping_option_page/shopping_option_cubit.dart
test/lib/Page/6_search_results_page/6_search_results_screen.dart
test/lib/Page/14_affiliated_store/pages/affiliated_page/affiliated_store_state.freezed.dart
test/lib/repository/naver_map_api/naver_map_remote_source.dart
test/lib/coreService/isar/naver_map/naver_map_version_service.dart
test/lib/repository/affiliated_store_api/affiliated_store_remote_response.dart
test/lib/Page/8_detail_store/menu_option/widget/bottomSheet_classification.dart
test/lib/Page/11_shopping_cart/pages/shopping_option_page/shopping_option_state.dart
test/lib/Page/10_my_page/10.13_my_page_review_detail.dart
test/lib/Page/4_main_page/4.4.1_main_top_12_container.dart
test/lib/Page/9_store_review/9.1_store_review_container.dart
test/lib/Page/9_store_review/9.4_store_review_navigator.dart
test/lib/coreService/isar/naver_map/naver_map_category_service.dart
test/lib/Page/10_my_page/10.11_my_page_review_write_back.dart
test/lib/Page/4_main_page/4.9_main_tourist_attractions.dart
test/lib/Page/4_main_page/4.9.1_main_tourist_container.dart
test/lib/coreService/Dialog/my_page_review_delete_dialog.dart
test/lib/repository/menu_option_api/menu_option_remote_source.dart
test/lib/repository/affiliated_store_api/affiliated_store_remote_repository.dart
test/lib/repository/affiliated_store_api/affiliated_store_remote_response.g.dart
test/lib/Page/11_shopping_cart/core/shopping_cart_provider/my_shopping_cart_state.dart
test/lib/repository/naver_map_api/nver_map_response.freezed.dart
test/lib/Page/4_main_page/main_detail_page/3.2_detail_category_eating.dart
test/lib/Page/13_join_us/13.1.2_join_us_detail_comment.dart
test/lib/Page/4_main_page/4.6.1_main_best_review_contauner.dart
test/lib/coreService/widget/store_components/store_quantity_controller.dart
test/lib/repository/menu_option_api/menu_option_remote_service.dart
test/lib/repository/naver_map_api/naver_map_remote_repository.dart
test/lib/Page/11_shopping_cart/pages/shopping_page/widget/11.2_my_shopping_cart_menulistview.dart
test/lib/Page/11_shopping_cart/pages/shopping_option_page/widget/shopping_Item_detail_card.dart
test/lib/Page/7_partnership_request_page/0.partnership_dio/partnership_screen_dio.dart
test/lib/repository/cart_api/cart_reomte_response.freezed.dart
test/lib/Page/9_store_review/9.3_store_reivew_photo_review.dart
test/lib/repository/menu_option_api/menu_option_remote_response.dart
test/lib/coreService/widget/store_components/store_menu_category_detail.dart
test/lib/Page/8_detail_store/menu_option/bottomSheet_menu_state.freezed.dart
test/lib/Page/11_shopping_cart/pages/shopping_page/widget/11.1_my_shopping_cart_storelistview.dart
test/lib/Page/3_student_email_page/3.6_students_success_screen.dart
test/lib/Page/10_my_page/10.10_my_page_review_write_comp.dart
test/lib/Page/10_my_page/10.14.1_my_page_myinfo_viewmode.dart
test/lib/Page/10_my_page/10.14.2_my_page_myinfo_editmode.dart
test/lib/Page/11_shopping_cart/pages/shopping_page/shopping_cart_state.freezed.dart
test/lib/Page/8_detail_store/8.4_detail_store_appbarcategory.dart
test/lib/repository/start_api/start_remote_response.freezed.dart
test/lib/coreService/Dialog/partnership_request_save_dialog.dart
test/lib/repository/menu_option_api/menu_option_remote_repository.dart
test/lib/repository/menu_option_api/menu_option_remote_response.g.dart
test/lib/Page/9_store_review/9.8_store_review_content_dialog.dart
test/lib/Page/4_main_page/main_detail_page/3.1_detail_category_attraction.dart
test/lib/coreService/Dialog/start_service_maintenance_notice.dart
test/lib/Page/7_partnership_request_page/3.partnership_formpage_detail/7.3_partnership_search.dart
test/lib/repository/affiliated_store_api/affiliated_store_remote_response.freezed.dart
test/lib/Page/9_store_review/9.6_store_review_best_content_detail.dart
test/lib/coreService/Dialog/partnership_request_delete_diaglog.dart
test/lib/Page/9_store_review/9.6.1_store_review_content_detail.dart
test/lib/Page/8_detail_store/menu_option/widget/bottomSheet_classification_options.dart
test/lib/Page/11_shopping_cart/pages/shopping_option_page/shopping_option_state.freezed.dart
test/lib/Page/8_detail_store/8.4.1_detail_store_appbarcategory_Icon.dart
test/lib/Page/9_store_review/9.7_store_review_photo_review_detail.dart
test/lib/Page/3_student_email_page/3.7_loginChageToSns/3.7.1_students_snstoggle_naver.dart
test/lib/Page/3_student_email_page/3.7_loginChageToSns/3.7.2_students_snstoggle_kakao.dart
test/lib/Page/7_partnership_request_page/4.partnership_detail_page/7.4_partnership_detail_page.dart
test/lib/Page/7_partnership_request_page/3.partnership_formpage_detail/7.3.2_partnership_kakaoMap.dart
test/lib/Page/7_partnership_request_page/2.partnership_formpage/7.2_partnership_request_form.dart
test/lib/Page/3_student_email_page/3.7_student_account_transfer_dialog.dart
test/lib/repository/menu_option_api/menu_option_remote_response.freezed.dart
test/lib/Page/7_partnership_request_page/4.partnership_detail_page/7.4.2_partnership_detail_title.dart
test/lib/Page/7_partnership_request_page/1.partnership_mainPage/7.1_partnership_request_screen.dart
test/lib/Page/7_partnership_request_page/7.5_parthership_request_change_form.dart
test/lib/Page/7_partnership_request_page/3.partnership_formpage_detail/7.3.1_partnership_searchScreen.dart
test/lib/coreService/Dialog/partnership_request_email_different_dialog.dart
test/lib/Page/7_partnership_request_page/4.partnership_detail_page/7.4.1_parthership_detail_comment.dart
test/lib/Page/7_partnership_request_page/4.partnership_detail_page/7.4.3_partnership_detail_userinfo.dart
test/lib/Page/7_partnership_request_page/2.partnership_formpage/7.2.2_partnership_request_form_button.dart
test/lib/Page/7_partnership_request_page/1.partnership_mainPage/7.1.1._partnership_request_category.dart
test/lib/Page/7_partnership_request_page/2.partnership_formpage/7.2.1_partnership_request_form_textfield.dart
test/lib/Page/7_partnership_request_page/1.partnership_mainPage/7.1.2_partnership_request_customContainerBoard.dart
